<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Registered Pets</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Your Registered Pets</h1>

        <!-- If no pets are registered, logic goes here -->
        <p>You have not registered any pets yet. <a href="/pets/new" class="btn btn-primary">Register a New Pet</a></p>

        <!-- List of registered pets, please adjust TH template as necessary!!! -->

        <!-- Register new pet link -->
        <p><a href="/pets/new" class="btn btn-primary">Register a New Pet</a></p>

    </div>

</body>

</html>
