<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>About Us</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>About VetCare</h1>

        <section>
            <h2>Heading 1</h2>
            <p>Paragraph 1</p>
        </section>

        <section>
            <h2>Heading 2</h2>
            <p>Paragraph 2</p>
        </section>

        <section>
            <h2>Contact Us</h2>
        </section>

    </div>

</body>

</html>
