<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout.html}">

    <head>
        <title>VetCare</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="m-5">
                    <h1 class="text-center fw-bolder">VetCare</h1>
                    <h4 class="text-center mb-4 fw-bold">Slogan</h4>
                    <div class="d-flex justify-content-center">
                        <div class="col-md-3 text-end mx-3">
                            <h6>+(03) 0000 0000</h6>
                        </div>
                        <div class="col-md-3 mx-3">
                            <h6>info@vetcare.com.au</h6>
                        </div>
                    </div>
                </div>
            </div>

            <main class="row m-5">
                <div class="col-md-6 text-center">
                    <img class="rounded-circle mb-2"
                        src="data:image/jpeg;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt=""
                        width="140" height="140" />
                    <h2>Book an Appointment</h2>
                    <p>View our appointment list and book a consultation.</p>
                    <p><a class="btn btn-secondary" href="#">Book now</a></p>
                </div>

                <div class="col-md-6 text-center">
                    <img class="rounded-circle mb-2"
                        src="data:image/jpeg;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt=""
                        width="140" height="140" />
                    <h2>Educational Resources</h2>
                    <p>
                        See our comprehensive guides on how to properly care for your pets.
                    </p>
                    <p><a class="btn btn-secondary" href="/eduresources">View resources</a></p>
                </div>
            </main>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </body>

</html>