<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service - VetCare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <h1>Terms of Service</h1>
    <p>These are the terms and conditions for using the VetCare platform. Please read them carefully.</p>
    <h3>Use of Our Service</h3>
    <p>placeholder text</p>
    <h3>Account Responsibilities</h3>
    <p>placeholder text</p>
</div>
</body>
</html>