<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Educational Resources and Latest Trends in Pet Care</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div layout:fragment="content">
        <h2>Educational Resources</h1>
        
        <!--Search bar-->
        <section class="my-5">
            <div class="container">

                <div class="search-container">
                    <form th:action="@{/eduresources/search}">
                      <input type="text" placeholder="Search.." name="searchResult">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

            </div>
        </section>

        <!--Guides, Articles, Videos-->
        <section>

            <!--Videos-->
            <div class="container">
                <h2>Videos</h2>
                <div th:each="video : ${videos}"> 
                    <h6 th:text="${video.title}"></h6>
                    <iframe th:src="${video.content}" width="560" height="315" allowfullscreen></iframe>

                    <form th:unless="${#lists.isEmpty(video)}" th:action="@{/eduresources/save_resource}" method="post">
                        <input type="hidden" name="resourceID" th:value="${video.resourceID}"> 
                        <button type="submit">   
                            <span class="bi bi-bookmark"> Save</spam>
                        </button>
                    </form>
                </div>
            </div>

            <!--Articles-->
            <div class="container" > 
                <h2>Articles</h2>
                <div th:each="article : ${articles}">
                    <h6 th:text="${article.title}"></h6>
                    <a th:href="${article.content}" target="_blank">
                        <div>
                            <p th:text="${article.description}"></p>
                        </div>
                    </a>
                    <form th:unless="${#lists.isEmpty(article)}" th:action="@{/eduresources/save_resource}" method="post">
                        <input type="hidden" name="resourceID" th:value="${article.resourceID}"> 
                        <button type="submit">   
                            <span class="bi bi-bookmark"> Save</spam>
                        </button>
                    </form>
                </div>
            </div>

            <!--Guides-->
            <div class="container" th:each="guide : ${guides}"> 
                <h2>Guides</h2>
                <h6 th:text="${guide.title}"></h6>
                <div>
                    <a th:href="${guide.content}" target="_blank">
                        <div>
                            <p th:text="${guide.description}"></p>
                        </div>
                    </a>
                </div>

                <form th:unless="${#lists.isEmpty(guide)}" th:action="@{/eduresources/save_resource}" method="post">
                    <input type="hidden" name="resourceID" th:value="${guide.resourceID}"> 
                    <button type="submit">   
                        <span class="bi bi-bookmark"> Save</spam>
                    </button>
                </form>
            </div>

        </section>

        <!--Trends-->
        <section>
            <div>
                <h2>Latest Trends and Resources</h2>
                <!-- Handling of displaying latest trends and edu-resources goes here -->
            </div>
        </section>

        <!--Saved Resources Link-->
        <section>
            <h2>Your Saved Resources</h2>
            <p><a href="/account/savededuresources" class="btn btn-secondary">Your saved resources</a></p>
        </section>

    </div>
</body>

</html>
