<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Educational Resources and Latest Trends in Pet Care</title>
</head>

<body>

    

    <div layout:fragment="content">

        <h2>Educational Resources</h1>
        

        <!--Search bar-->
        <!--TODO: Search bar functionality for trends and resources-->
        <section class="my-5">
        <div>
            <label for="searchResult">Search for an article, guide or video </label>
            <input type="text" id="searchResult" th:field="*{searchResult}" required placeholder="What are you looking for?">
        </div>
        </section>

        <!--Guides, Articles, Videos-->
        <section>
            <h2>Guides</h2>
            <h2>Articles</h2>
            <h2>Videos</h2>

            <div th:each="video : ${videos}"> 

                <div> 
                    <p th:text="${video.title}"></p>
                    <iframe th:src="${video.content}" width="560" height="315" allowfullscreen></iframe>
                </div>
            </div>

        </section>


        <!--Trends-->
        <section>
            <h2>Latest Trends and Resources</h2>
            <!-- Handling of displaying latest trends and edu-resources goes here -->
        </section>

        <!--Saved Resources-->
        <section>
            <h2>Your Saved Resources</h2>
            <!-- Handling of displaying saved edu-resources goes here -->
        </section>

    </div>

</body>

</html>
