<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Educational Resources and Latest Trends in Pet Care</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Educational Resources</h1>

        <section>
            <h2>Find Resources</h2>
            <p>Search for resources by topic (search bar goes here)</p>
        </section>

        <section>
            <h2>Latest Trends and Resources</h2>
            <!-- Handling of displaying latest trends and edu-resources goes here -->
        </section>

        <section>
            <h2>Your Saved Resources</h2>
            <!-- Handling of displaying saved edu-resources goes here -->
        </section>

    </div>

</body>

</html>
